---
import Layout from "../layouts/Layout.astro";
import artists from "../data/artists.json";

const artistList = artists.artists.sort((a, b) => a.name.localeCompare(b.name));
---

<Layout title="Artists" description="Artists in the Bay Area">
  <h1>Artists</h1>
  <ul>
    {
      artistList.map((artist) => (
        <li>
          <a href={`/artist/${artist.id}/`}>{artist.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
