---
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
---

<Table>
  <TableHeader>
    <TableRow>
      <TableHead>Symbol</TableHead>
      <TableHead>Description</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    <TableRow>
      <TableCell>*</TableCell>
      <TableCell>Recommendable shows</TableCell>
    </TableRow>
    <TableRow>
      <TableCell>a/a</TableCell>
      <TableCell>All ages</TableCell>
    </TableRow>
    <TableRow>
      <TableCell>$</TableCell>
      <TableCell>Will probably sell out</TableCell>
    </TableRow>
    <TableRow>
      <TableCell>@</TableCell>
      <TableCell>Pit warning</TableCell>
    </TableRow>
    <TableRow>
      <TableCell>^</TableCell>
      <TableCell>Under 21 must buy drink tickets</TableCell>
    </TableRow>
    <TableRow>
      <TableCell>#</TableCell>
      <TableCell>No ins/outs</TableCell>
    </TableRow>
  </TableBody>
</Table>
