---

---

<table class="my-4 w-fit">
  <tr class="border-b-2 border-gray-900 text-left [&>*]:px-4">
    <th>Symbol</th>
    <th class="pl-8">Description</th>
  </tr>
  <tr class="border-b border-gray-400 [&>*]:px-4">
    <td>*</td>
    <td class="pl-8">Recommendable shows</td>
  </tr>
  <tr class="border-b border-gray-400 [&>*]:px-4">
    <td>a/a</td>
    <td class="pl-8">All ages</td>
  </tr>
  <tr class="border-b border-gray-400 [&>*]:px-4">
    <td>$</td>
    <td class="pl-8">Will probably sell out</td>
  </tr>
  <tr class="border-b border-gray-400 [&>*]:px-4">
    <td>@</td>
    <td class="pl-8">Pit warning</td>
  </tr>
  <tr class="border-b border-gray-400 [&>*]:px-4">
    <td>^</td>
    <td class="pl-8">Under 21 must buy drink tickets</td>
  </tr>
  <tr class="[&>*]:px-4">
    <td>#</td>
    <td class="pl-8">No ins/outs</td>
  </tr>
</table>
